#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    border-color: #432818;
}
#scoreText{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 100px;
}
#resetBtn{
    font-family: "LoveMolly", sans-serrif;
    color: black;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}