#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 5px solid #432818;
}
#scoreText{
    font-family: monospace;
    font-size: 100px;
}
#resetBtn{
    font-family: "LoveMolly", sans-serif;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}